/* ---------- Dark Mode ---------- */
@media (-moz-bool-pref: "ando.monochrome-theme") {
  :root {
    --zen-primary-color: #808080 !important;
  }

  @media not (prefers-color-scheme: dark) {
    :root {
      --zen-colors-primary: #D2D2D2 !important;
      --zen-colors-secondary: #D2D2D2 !important;
      --zen-colors-tertiary: #FFFFFF !important;
      --zen-colors-border: #DDDDDD !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --zen-colors-primary: #373737 !important;
      --zen-colors-secondary: #373737 !important;
      --zen-colors-tertiary: #171717 !important;
      --zen-colors-border: #202020 !important;
    }
  }

  .toolbarbutton-badge {
    color: #0f0f0f !important;
    background-color: #ffffff !important;
  }
}

/* ---------- No Media Tab Icon ---------- */
@media (-moz-bool-pref: "ando.hide-tab-media-icon") {
  .tab-icon-overlay {
    display: none !important;
  }
}

/* ---------- No Window Dragging ---------- */
@media (-moz-bool-pref: "ando.disable-window-dragging") {
  #titlebar {
    -moz-window-dragging: no-drag;
  }
}

/* ---------- Context Menu Hides ---------- */
@media (-moz-bool-pref: "ando.context-menu-hides") {

  #context-zen-change-workspace-tab,
  #context_undoCloseTab,
  #zen-toolbar-context-tabs-right,
  #toolbar-context-undoCloseTab,
  #zenToolbarThemePicker,
  #toolbar-context-customize,
  #menuitem-iconic context-menu-add-engine {
    display: none !important;
  }

  #zen-context-menu-compact-mode-toggle>label {
    font-size: 0;
  }

  #zen-context-menu-compact-mode-toggle>label:before {
    content: "Toggle compact mode";
    font: menu;
  }

  #zen-context-menu-compact-mode-toggle>image.menu-icon {
    visibility: collapse !important;
  }

  menuitem.context-menu-add-engine[anonid="add-engine-0"] {
    visibility: collapse !important;
  }
}

/* ---------- URL Bar Hides ---------- */
@media (-moz-bool-pref: "ando.url-bar-hides") {

  #reader-mode-button,
  #translations-button,
  #identity-box,
  #star-button-box,
  #tracking-protection-icon-container {
    display: none !important;
  }

  #searchbar .urlbar-input-container {
    padding-left: calc(var(--urlbar-container-padding) + var(--urlbar-container-padding)) !important;
  }
}

@media (-moz-bool-pref: "ando.expand-sidebar-tweaks") {
  .tab-reset-pin-button:after {
    display: none !important;
  }

  :root#main-window:not([sizemode="fullscreen"]) #navigator-toolbox:not([zen-right-side="true"]) .tabbrowser-tab.tabbrowser-tab[zen-pinned-changed][pinned] .tab-icon-stack.tab-icon-stack {
    position: static !important;
    transform: none !important;
  }
}