/* ---------- Dark Mode ---------- */
@media (-moz-bool-pref: "ando.monochrome-theme") {
  :root {
    --zen-primary-color: #808080 !important;
  }

  @media not (prefers-color-scheme: dark) {
    :root {
      --zen-colors-primary: #D2D2D2 !important;
      --zen-colors-secondary: #D2D2D2 !important;
      --zen-colors-tertiary: #FFFFFF !important;
      --zen-colors-border: #DDDDDD !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --zen-colors-primary: #373737 !important;
      --zen-colors-secondary: #373737 !important;
      --zen-colors-tertiary: #171717 !important;
      --zen-colors-border: #202020 !important;
    }
  }

  .toolbarbutton-badge {
    color: #0f0f0f !important;
    background-color: #ffffff !important;
  }
}

/* ---------- No Media Tab Icon ---------- */
@media (-moz-bool-pref: "ando.hide-tab-media-icon") {

  .tab-icon-overlay,
  button[aria-label="Unmute tab"],
  button[aria-label="Play tab"] {
    display: none !important;
  }
}

/* ---------- No Window Dragging ---------- */
@media (-moz-bool-pref: "ando.disable-window-dragging") {
  #titlebar {
    -moz-window-dragging: no-drag;
  }
}

/* ---------- Context Menu Hides ---------- */
@media (-moz-bool-pref: "ando.context-menu-hides") {

  #context-zen-change-workspace-tab,
  #context_undoCloseTab,
  #zen-toolbar-context-tabs-right,
  #toolbar-context-undoCloseTab,
  #zenToolbarThemePicker,
  #toolbar-context-customize,
  #menuitem-iconic context-menu-add-engine {
    display: none !important;
  }

  #zen-context-menu-compact-mode-toggle>label {
    font-size: 0;
  }

  #zen-context-menu-compact-mode-toggle>label:before {
    content: "Toggle compact mode";
    font: menu;
  }

  #zen-context-menu-compact-mode-toggle>image.menu-icon {
    visibility: collapse !important;
  }

  menuitem.context-menu-add-engine[anonid="add-engine-0"] {
    visibility: collapse !important;
  }
}

/* ---------- URL Bar Set Height ---------- */
@media (-moz-bool-pref: "ando.url-bar-height") {
  #urlbar:not([zen-floating-urlbar="true"]) {
    height: 36px !important;
    min-height: 36px !important;
    max-height: 36px !important;
    line-height: 36px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-sizing: border-box !important;
  }
}

/* ---------- Expanded Sidebar Tweaks ---------- */
@media (-moz-bool-pref: "ando.expand-sidebar-tweaks") {
  .tab-reset-pin-button:after {
    display: none !important;
  }

  :root#main-window:not([sizemode="fullscreen"]) #navigator-toolbox:not([zen-right-side="true"]) .tabbrowser-tab.tabbrowser-tab[zen-pinned-changed][pinned] .tab-icon-stack.tab-icon-stack {
    position: static !important;
    transform: none !important;
  }

  #tabbrowser-tabs {
    & .tabbrowser-tab {

      &[pinned]:not([zen-essential]):hover .tab-close-button.close-icon,
      &[pinned][visuallyselected]:not([zen-essential]) .tab-close-button.close-icon {
        display: none !important;
      }
    }
  }

  .titlebar-buttonbox-container {
    display: none !important;
  }

  #zen-sidebar-foot-buttons>toolbaritem:first-of-type {
    margin-inline-start: 5px !important;
  }

  #zen-sidebar-foot-buttons {
    margin-bottom: 4px !important;
  }

  #navigator-toolbox:not(:hover,
    [has-popup-menu],
    [movingtab],
    [flash-popup]) #zen-sidebar-foot-buttons>toolbaritem:first-of-type {
    opacity: 1 !important;
  }

  #navigator-toolbox:not(:hover,
    [has-popup-menu],
    [movingtab],
    [flash-popup]) #zen-workspaces-button {
    display: none !important;
  }

  #navigator-toolbox #zen-sidebar-foot-buttons>#customizationui-widget-panel,
  #navigator-toolbox #zen-sidebar-foot-buttons>#customizationui-widget-panel * {
    transition: none !important;
    transform: none !important;
    clip-path: none !important;
  }
}

/* ---------- URL Bar Search Icon ---------- */
@media (-moz-bool-pref: "ando.urlbar-search-icon") {
  #urlbar:not([zen-floating-urlbar="true"]) {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    overflow: hidden;
  }

  #urlbar:not([zen-floating-urlbar="true"])::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 100%;
    pointer-events: none;
    background-image: url("chrome://global/skin/icons/search-glass.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    -moz-context-properties: fill, stroke;
    fill: currentColor;
    opacity: 1;
    transform: translateX(0);
    transition:
      opacity var(--transition-duration) ease-in-out var(--transition-delay-smooth),
      transform var(--transition-duration) ease-in-out var(--transition-delay-smooth);
  }

  #navigator-toolbox:is( :hover,
    [has-popup-menu],
    [movingtab],
    [flash-popup]) #urlbar:not([zen-floating-urlbar="true"])::before {
    opacity: 0;
    transform: translateX(-38px);
  }

  #urlbar:not([zen-floating-urlbar="true"]) #urlbar-input {
    transform: translateX(38px);
    opacity: 0;
    transition:
      opacity var(--transition-duration) ease-in-out var(--transition-delay-smooth),
      transform var(--transition-duration) ease-in-out var(--transition-delay-smooth);
  }

  #navigator-toolbox:is( :hover,
    [has-popup-menu],
    [movingtab],
    [flash-popup]) #urlbar-input,
  #urlbar[zen-floating-urlbar="true"] #urlbar-input {
    transform: translateX(0);
    opacity: 1;
  }
}