/* ---------- Dark Mode ---------- */
@media (-moz-bool-pref: "ando.monochrome-theme") {
  :root {
    --zen-primary-color: #808080 !important;
  }

  @media not (prefers-color-scheme: dark) {
    :root {
      --zen-colors-primary: #D2D2D2 !important;
      --zen-colors-secondary: #D2D2D2 !important;
      --zen-colors-tertiary: #FFFFFF !important;
      --zen-colors-border: #DDDDDD !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --zen-colors-primary: #373737 !important;
      --zen-colors-secondary: #373737 !important;
      --zen-colors-tertiary: #171717 !important;
      --zen-colors-border: #202020 !important;
    }
  }

  .toolbarbutton-badge {
    color: #0f0f0f !important;
    background-color: #ffffff !important;
  }
}

/* ---------- No Media Tab Icon ---------- */
@media (-moz-bool-pref: "ando.hide-tab-media-icon") {

  .tab-icon-overlay,
  button[aria-label="Unmute tab"],
  button[aria-label="Mute tab"],
  button[aria-label="Play tab"] {
    display: none !important;
  }
}

/* ---------- No Window Dragging ---------- */
@media (-moz-bool-pref: "ando.disable-window-dragging") {
  #titlebar {
    -moz-window-dragging: no-drag;
  }
}

/* ---------- Context Menu Hides ---------- */
@media (-moz-bool-pref: "ando.context-menu-hides") {

  #context-zen-change-workspace-tab,
  #context_undoCloseTab,
  #zen-toolbar-context-tabs-right,
  #toolbar-context-undoCloseTab,
  #zenToolbarThemePicker,
  #toolbar-context-customize,
  #context-bookmarkpage,
  #zen-context-menu-compact-mode-toggle,
  #toolbar-context-selectAllTabs,
  #context-zenOpenLinkInGlance,
  #context-zenSplitLink,
  #context-copy-link-to-highlight,
  #context-copy-clean-link-to-highlight,
  #toolbar-context-move-to-panel,
  #toolbar-context-remove-from-toolbar,
  #context-media-pause,
  #context-media-unmute,
  #context-media-playbackrate,
  #context-media-loop,
  #context-video-fullscreen,
  #context-media-showcontrols,
  #context-viewvideo,
  #context-video-pictureinpicture,
  #context-savevideo,
  #context-video-saveimage,
  #context-sendvideo,
  #context-copyvideourl,
  #context_unloadTab,
  .tab-context-line,
  #strip-on-share,
  .context-menu-add-engine {
    display: none !important;
  }
}

/* ---------- Browser Content Drop Shadow  ---------- */
@media (-moz-bool-pref: "ando.content-drop-shadow") {
  #zen-tabbox-wrapper {
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
  }
}

/* ---------- Hide Close Tab Button ---------- */
@media (-moz-bool-pref: "ando.hide-close-tab") {
  .tab-close-button {
    display: none !important;
  }
}

/* ---------- Hide Reset Tab Button ---------- */
@media (-moz-bool-pref: "ando.hide-reset-tab") {
  .tab-reset-button {
    display: none !important;
  }
}

/* ---------- Hide Status Bar ---------- */
@media (-moz-bool-pref: "ando.hide-status-bar") {
  #statuspanel {
    display: none !important;
  }
}

/* ---------- Hide Window Buttons on macOS ---------- */
@media (-moz-bool-pref: "ando.hide-window-buttons") {
  .titlebar-buttonbox-container {
    display: none !important;
  }
}

/* ---------- Hide Workspace Bar ---------- */
@media (-moz-bool-pref: "ando.hide-workspace-bar") {
  .zen-current-workspace-indicator {
    display: none !important;
  }
}

/* ---------- Hide Clear Tabs Button ---------- */
@media (-moz-bool-pref: "ando.hide-clear-tabs") {
  .zen-workspace-close-unpinned-tabs-button {
    display: none !important;
  }
}

/* ---------- Fix URLbar Spacing ---------- */
@media (-moz-bool-pref: "ando.urlbar-margin") {
  #nav-bar {
    margin-bottom: 3px !important;
  }
}

/* ---------- Hide URLbar Suggestions ---------- */
@media (-moz-bool-pref: "ando.hide-urlbar-suggestions") {

  #urlbar:has(#urlbar-input:placeholder-shown) .urlbarView-body-inner,
  .urlbarView-row[type="top_site"],
  .urlbarView-row[type="history_serp"],
  .urlbarView-row[type="search_serp"] {
    display: none !important;
  }
}

/* ---------- Hide Split View Highlight ---------- */
@media (-moz-bool-pref: "ando.hide-splitview-highlight") {
  #tabbrowser-tabpanels[zen-split-view="true"] .browserSidebarContainer.deck-selected {
    outline: var(--zen-colors-border) !important;
  }
}